{{> layouts/header}}

<div class="container mt-4">
    <h2 class="text-center mb-4">{{team.name}} 구단 정보</h2>

    <div class="row">
        <div class="col-md-4 mb-3">

        </div>
        <div class="col-md-8">
            <h4>구단 정보</h4>
            <p><strong>창단 연도: </strong> {{team.founded}}</p>
            <p><strong>연고지: </strong> {{team.location}}</p>
            <p><strong>홈구장:  </strong> {{team.stadium}}</p>
            <p><strong>리그 우승 횟수: </strong> {{team.leagueTitles}}</p>
            <p><strong>FA컵 우승 횟수: </strong> {{team.facupTitles}}</p>
            <p><strong>기타 주요 성과: </strong> {{team.achievements}}</p>
            <h5>구단 소개
                1886년 창단한 아스날은 그 오랜 역사가 말해주 듯 잉글랜드에서 가장 오래도록 1부리그에 잔류하고 있는 전통의 강팀이다. 아스날은 무기와 탄약을 제조하는 ‘무기고’였던 로열 아스날의 노동자들이 창설한 클럽이며, 그로 인해 오래 전부터 ‘거너스 (Gunners, 총잡이들)’이란 애칭으로 불려 왔다.

                20세기 초반 재정적 어려움을 겪은 뒤 1930년대 들어 본격적으로 황금기를 맞이했다. 아스날의 황금기를 주도한 인물은 WM 시스템을 고안해내며 세계 축구계에 혁신을 일으킨 허버트 채프먼 감독이었다. 채프먼 감독의 지휘 아래 아스날은 1930년대에만 무려 다섯 차례나 리그 우승 트로피를 들어 올리며 잉글랜드 축구계의 헤게모니를 장악하는 모습을 보였다.

                그러나 아스날은 제 2차 세계대전의 발발로 인해 예상보다 일찍 황금기에 종지부를 찍었다. 종전 이후에도 1947/48 시즌과 1952/53 시즌 우승을 차지하며 강팀으로서의 입지를 지켜낸 아스날이었지만, 그 후에는 맨체스터 유나이티드와 울버햄튼 등에 밀려 중위권으로 추락하는 수모를 당했다. 아스날이 다시금 기지개를 편 것은 1969/70 시즌 인터-시티 페어스컵(UEFA컵의 전신) 우승을 차지했을 때였다.

                1970년대에는 리버풀의 그늘에 가려 수많은 준우승 기록을 양산하며 2인자의 인상을 강하게 남겼다. 언스리그 출전권을 잃었다. 1998~1999시즌부터 이어오던 챔피언스리그 본선 연속 진출 기록을 19시즌에서 마무리했다. 벵거 감독의 아스날은 03/04시즌 마지막 우승 후 리그 우승은 차지하지 못했지만 리그 4위 안의 성적과 챔피언스리그 16강 진출이란 성적으로 나름 성과를 내왔지만 아스날 과학이 16/17시즌을 끝으로 막을 내렸다. 벵거 감독은 시즌 내내 거센 경질 압박에 시달렸지만 FA컵 우승컵을 차지하며 재계약에 성공했다.
            </h5>
            <p>{{team.description}}</p>
        </div>
    </div>
</div>

{{> layouts/footer}}
