{{> layouts/header}}

<div class="container mt-4">
    <h2 class="text-center mb-4">축구팀 목록</h2>

    <div class="row">
        <div class="col-4 mb-3">
            <a href="/teams/arsenal">
                <img src="premierleague_arsenal_132.png" class="img-fluid" alt="Arsenal">
                <p class="text-center">아스날</p>
            </a>
        </div>


        <div class="col-4 mb-3">
            <a href="/team/brighton">
                <img src="premierleague_brighton_132.png" class="img-fluid" alt="Brighton">
                <p class="text-center">브라이튼</p>
            </a>
        </div>
        <div class="col-4 mb-3">
            <a href="/team/burnley">
                <img src="premierleague_burnley_132.png" class="img-fluid" alt="Burnley">
                <p class="text-center">번리</p>
            </a>
        </div>
        <div class="col-4 mb-3">
            <a href="/team/chelsea">
                <img src="premierleague_chelsea_132.png" class="img-fluid" alt="Chelsea">
                <p class="text-center">첼시</p>
            </a>
        </div>
        <div class="col-4 mb-3">
            <a href="/team/everton">
                <img src="premierleague_everton_132.png" class="img-fluid" alt="Everton">
                <p class="text-center">에버튼</p>
            </a>
        </div>
        <div class="col-4 mb-3">
            <a href="/team/leicester">
                <img src="premierleague_leicester_132.png" class="img-fluid" alt="Leicester">
                <p class="text-center">레스터 시티</p>
            </a>
        </div>


        <div class="col-4 mb-3">
            <a href="/team/newcastle">
                <img src="premierleague_newcastle_132.png" class="img-fluid" alt="Newcastle">
                <p class="text-center">뉴캐슬 유나이티드</p>
            </a>
        </div>
        <div class="col-4 mb-3">
            <a href="/team/tottenham">
                <img src="premierleague_tottenham_132.png" class="img-fluid" alt="Tottenham">
                <p class="text-center">토트넘 핫스퍼</p>
            </a>
        </div>
    </div>
</div>

{{> layouts/footer}}
